In [ ]:
Q. 1. Create a function to perform basic arithmetic operations that includes

addition, subtraction, multiplication and division on a string number (e.g. '12 + 24' or '23 - 21' or '12 // 12' or '12 * 21'). Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number. eval() is not allowed. In case of division, whenever the second number equals '0' return -1. For example: '15 // 0' ➞ -1 Examples arithmetic_operation('12 + 12') ➞ 24 // 12 + 12 = 24 arithmetic_operation('12 - 12') ➞ 24 // 12 - 12 = 0 arithmetic_operation('12 * 12') ➞ 144 // 12 * 12 = 144 arithmetic_operation('12 // 0') ➞ -1 // 12 / 0 = -1

In [2]:

def arithmetic_operation(str):
    operators = ['+','*','/','-','//','%']
    exp = list(str.split())
    if exp[1] == '+':
        print("The expression :",str)
        return int(exp[0]) + int(exp[2])
    elif exp[1] == '-':
        print("The expression :",str)
        return int(exp[0]) - int(exp[2])
    elif exp[1] == '//':
        print("The expression :",str)
        if int(exp[2]) == 0 or int(exp[0]) == 0:
            return -1
        else:
            return int(exp[0]) // int(exp[2])    
    elif exp[1] == '*':
        print("The expression :",str)
        return int(exp[0]) * int(exp[2]) 
    elif exp[1] == '/':
        print("The expression :",str)
        if int(exp[2]) == 0 or int(exp[0]) == 0:
            return -1
        else:            
            return int(exp[0]) / int(exp[2])              
    elif exp[1] == '%':
        print("The expression :",str)
        return int(exp[0])  % int(exp[2])

In [3]:
arithmetic_operation('12 + 12')

The expression : 12 + 12

24

In [4]:
arithmetic_operation('12 - 12')

The expression : 12 - 12

0

In [5]:
arithmetic_operation('12 * 12')

The expression : 12 * 12

144

In [6]:
arithmetic_operation('12 / 12')

The expression : 12 / 12

1.0

In [7]:
arithmetic_operation('12 // 12')

The expression : 12 // 12

1

In [8]:
arithmetic_operation('0 // 0')

The expression : 0 // 0

-1

In [9]:
arithmetic_operation('0 // 4')

The expression : 0 // 4

-1

In [ ]:
Q. 2. Write a function that takes the coordinates of three points in the form of a

2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane. Examples perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08 perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42 perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [10]:
import math
def perimeter(ary):
   
    x = ary[0]
    y = ary[1]
    z = ary[2]
    #Find lenth of 3 sides
    a = math.sqrt((x[0]-x[1])**2 + (y[0]-y[1])**2)
    b = math.sqrt((y[0]-y[1])**2 + (z[0]-z[1])**2)
    c = math.sqrt((z[0]-z[1])**2 + (x[0]-x[1])**2)
    perimetr = a + b + c
    print("The co ordinates are ",x,y,z)
    return perimetr

In [11]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

The co ordinates are  [15, 7] [5, 22] [11, 1]

51.31762562623766

In [12]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

The co ordinates are  [0, 0] [0, 1] [1, 0]

3.414213562373095

In [13]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

The co ordinates are  [-10, -10] [10, 10] [-10, 10]

40.0

In [ ]:
Q. 3. A city skyline can be represented as a 2-D list with 1s representing

buildings. In the example below, the height of the tallest building is 4 (second- most right column).

In [14]:
def tallest_skyscraper(array):
    list_of_height = []
    sum = 0
    for i in range(len(array[0])):
        for j in range(len(array)):
            sum = sum + array[j][i]
        list_of_height.append(sum)
        sum = 0
    return "The hieght of tallest building is : ", max(list_of_height)

In [15]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

('The hieght of tallest building is : ', 3)

In [16]:
tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

('The hieght of tallest building is : ', 4)

In [17]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
])

('The hieght of tallest building is : ', 2)

In [ ]:
Q. 4. A financial institution provides professional services to banks and claims

charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target. This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows: y

In [18]:
def bonus(day):
    days = [32,40,48]
    inc = 0
    while True :
        if day <=32 :
            break
        if day > 48:
            inc = inc + (day - days[2]) * 600
            day = day - (day - days[2])
            print(inc)
        elif day > 40 :
            inc = inc + (day -days[1]) * 550
            day = day - (day - days[1])
        elif day > 32:
            inc = inc + (day -days[0]) * 325
            day = day - (day - days[0])
    return "The incentive is : ",inc

In [19]:
bonus(15)

('The incentive is : ', 0)

In [20]:
bonus(37)

('The incentive is : ', 1625)

In [21]:
bonus(50)

1200

('The incentive is : ', 8200)

In [22]:
bonus(45)

('The incentive is : ', 5350)

In [ ]:
Q. 5. A number is said to be Disarium if the sum of its digits raised to their

respective positions is the number itself. Create a function that determines whether a number is a Disarium or not. Examples is_disarium(75) ➞ False 7^1 + 5^2 = 7 + 25 = 32 is_disarium(135) ➞ True 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135 is_disarium(544) ➞ False is_disarium(518) ➞ True is_disarium(466) ➞ False is_disarium(8) ➞ True

In [23]:
def is_disarium(num):
    sum = 0
    tempNum = num
    while(num>0):
        dgcnt= len(str(num))
        digit = num%10
        sum= sum + digit**dgcnt   
        dgcnt-=1
        num = num//10    
    if sum == tempNum:
        return tempNum,"Number is Disarium"
    else:
        return tempNum,"Number is not Disarium"

In [24]:
is_disarium(544)

(544, 'Number is not Disarium')

In [25]:
is_disarium(518)

(518, 'Number is Disarium')

In [26]:
is_disarium(466)

(466, 'Number is not Disarium')

In [27]:
is_disarium(8)

(8, 'Number is Disarium')